<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>demo</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/layui/css/layui.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

	<div class="layui-container">
		<form class="layui-form" action="">
			<div class="layui-row page-container">
				<div>
					<button type="button" class="layui-btn layui-btn-normal">
						重启
					</button>
				</div>
				<div>
					<h1>GPI</h1>
					<div class="gpi-container"></div>
				</div>
				<div>
					<h1>GPO</h1>
					<div class="gpo-container"></div>
				</div>
			</div>
		</form>
		  	
	</div>


   	<script src="{{ url_for('static', filename='resource/jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resource/layui/layui.all.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='resource/ajax/index.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

	<script type="text/javascript">

		demo.index.init({
			{#initUrl: 'http://127.0.0.1:8000/init',#}
			{#updateGpiUrl: 'http://127.0.0.1:8000/get/gpi/data',#}
			{#updateGpoUrl: 'http://127.0.0.1:8000/update/gpo',#}

            initUrl: 'http://192.168.50.6:8000/init',
			updateGpiUrl: 'http://192.168.50.6:8000/get/gpi/data',
			updateGpoUrl: 'http://192.168.50.6:8000/update/gpo',
		})

	</script>
</body>
</html>