<div class="layui-container">
    <div class="layui-row">
        <div class="login-container">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" required lay-verify="required" class="layui-input"
                               placeholder="请输入用户名">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="pwd" required lay-verify="required" class="layui-input"
                               placeholder="请输入密码">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn btn-login" type="button">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>