<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource/layui/css/layui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <title></title>
</head>
<body>
{#测试start#}
{#{% include "loginSu.html" %}#}
{% include "loginXie.html" %}
{#测试end#}
<script src="{{ url_for('static', filename='resource/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='resource/layui/layui.all.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='resource/ajax/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>

</body>
</html>